/* @import url("./assets/banner.jpg"); */
/* home-page-style */
.indexNav {
  z-index: 1000;
}
.bannerStyle {
  background-image: url("./assets/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  height: 140vh;
  width: 100%;
}
.sectionH1 {
  color: "#E56D1D";
  font-size: 2em;
}
.sectionP {
  font-size: 1.2em;
  line-height: 25px;
  /* padding: 0px 10px; */
}
.section1 {
  height: 1000px;
}
.iconMainDiv {
  height: 140px;
}
.iconChildDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
}
.imgDiv {
  /* border: 1px solid black; */
  height: 90px;
  width: 90px;
}
.imgHover {
  display: none;
  top: 0%;
  bottom: 0%;
  width: 100%;
}
.imgHover {
  background-color: rgba(81, 176, 58, 0.7);
}
.mainDiv:hover .imgHover {
  display: block;
  transition: background-color 0.2s linear 0.3s;
}

@media (min-width: 993px) and (max-width: 1200px) {
  .section1 {
    height: 1200px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .bannerStyle {
    background-image: url("./assets/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    height: 810px;
    width: 100%;
  }
  .sectionH1 {
    color: "#E56D1D";
    font-size: 2em;
  }
  .sectionP {
    font-size: 1.2em;
  }
  .section1 {
    height: 1100px;
  }
  .imgDiv {
    /* border: 1px solid black; */
    height: 70px;
    width: 70px;
  }
  .iconMainDiv {
    height: 120px;
  }
  .container {
    height: 200px;
  }
  .indexH {
    font-size: 15px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .section1 {
    height: 600px;
  }
  .sectionH1 {
    color: "#E56D1D";
    font-size: 1.5em;
  }
  .sectionP {
    font-size: 0.75em;
    line-height: 16px;
  }
  .quota {
    font-size: 0.85em;
  }
  .imgDiv {
    /* border: 1px solid black; */
    height: 70px;
    width: 70px;
  }
  .iconMainDiv {
    height: 100px;
  }
  .container {
    height: 600px;
  }
  .indexH {
    font-size: 12px;
  }
}
