/* @import url("./assets/banner.jpg"); */
/* home-page-style */
.indexNav {
  z-index: 1000;
}
.bannerStyle {
  background-image: url("./assets/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  height: 140vh;
  width: 100%;
}
.sectionH1 {
  color: "#E56D1D";
  font-size: 2em;
}
.sectionP {
  font-size: 1.2em;
  line-height: 25px;
  /* padding: 0px 10px; */
}
.section1 {
  height: 1000px;
}
.iconMainDiv {
  height: 140px;
}
.iconChildDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
}
.imgDiv {
  /* border: 1px solid black; */
  height: 90px;
  width: 90px;
}
.imgHover {
  display: none;
  top: 0%;
  bottom: 0%;
  width: 100%;
}
.imgHover {
  background-color: rgba(81, 176, 58, 0.7);
}
.mainDiv:hover .imgHover {
  display: block;
  transition: background-color 0.2s linear 0.3s;
}
.section {
  height: 840px;
}
.sectionP1 {
  font-size: 1em;
  /* line-height: 16px; */
}
.secionDiv {
  padding: 20px;
}
.sliderDiv {
  height: 300px;
}
.sliderP {
  padding: 10px;
}
.carouselDiv {
  height: 600px;
}
.companyHover {
  color: white;
}
.companyHover:hover {
  color: black;
}
.footerDiv {
  height: 300px;
}
.footerP {
  width: 50%;
}
.aboutDiv {
  height: 400px;
}
.aboutP {
  padding: 0px 30px;
}
.mainContainer {
  height: 480px;
}
.sliderContainer {
  height: 480px;
  width: 100%;
}
.slicker {
  height: 480px;
  width: 100%;
}
.slickImg {
  height: 480px;
  width: 60%;
  object-fit: cover;
}
@media (min-width: 993px) and (max-width: 1200px) {
  .section1 {
    height: 1200px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .bannerStyle {
    background-image: url("./assets/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    height: 810px;
    width: 100%;
  }
  .sectionH1 {
    color: "#E56D1D";
    font-size: 2em;
  }
  .sectionP {
    font-size: 1.2em;
  }
  .section1 {
    height: 1100px;
  }
  .imgDiv {
    /* border: 1px solid black; */
    height: 70px;
    width: 70px;
  }
  .iconMainDiv {
    height: 120px;
  }
  .container {
    height: 200px;
  }
  .indexH {
    font-size: 15px;
  }
  .section {
    height: 550px;
  }
  .sectionP1 {
    font-size: 0.75em;
    line-height: 16px;
  }
  .secionDiv {
    padding: 15px;
  }
  .sectionH3 {
    font-size: 1.2em;
  }
  .sliderDiv h3 {
    font-size: 1.7em;
    padding-bottom: 25px;
  }
  .footerP {
    width: 50%;
  }
  .aboutP {
    padding: 0px 20px;
    font-size: 0.9em;
    line-height: 18px;
  }
  .mainContainer {
    height: 400px;
  }
  .sliderContainer {
    height: 400px;
    width: 100%;
  }
  .slicker {
    height: 400px;
    width: 100%;
  }
  .slickImg {
    height: 400px;
    width: 60%;
    object-fit: cover;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .section1 {
    height: 600px;
  }
  .sectionH1 {
    color: "#E56D1D";
    font-size: 1.5em;
  }
  .sectionP {
    font-size: 0.75em;
    line-height: 16px;
  }
  .quota {
    font-size: 0.85em;
  }
  .imgDiv {
    /* border: 1px solid black; */
    height: 70px;
    width: 70px;
  }
  .iconMainDiv {
    height: 100px;
  }
  .container {
    height: 600px;
  }
  .indexH {
    font-size: 12px;
  }
  .section {
    height: 430px;
  }
  .sectionP1 {
    font-size: 0.7em;
    line-height: 10.5px;
  }
  .secionDiv {
    padding: 10px;
  }
  .sectionH3 {
    font-size: 0.9em;
  }
  .sliderDiv {
    height: 200px;
  }
  .sliderP {
    padding: 3px;
    font-size: 0.72em;
    line-height: 13px;
  }
  .sliderDiv h3 {
    font-size: 1.3em;
    padding-bottom: 20px;
  }
  .sliderH5 {
    font-size: 1em;
  }
  .footerP {
    width: auto;
  }
  .aboutQuota {
    font-size: 0.9em;
  }
  .aboutP {
    padding: 0px 20px;
    font-size: 0.72em;
    line-height: 18px;
  }
  .mainContainer {
    height: 300px;
  }
  .sliderContainer {
    height: 300px;
    width: 100%;
  }
  .slicker {
    height: 300px;
    width: 100%;
  }
  .slickImg {
    height: 300px;
    width: 70%;
    object-fit: cover;
  }
}
